/* Global Settings */
:root {
--wysa-blue: #393bc5ff;
--background-gray: #f0f0f0ff;
--gray-text: #515554ff;
--navbar-gray: #464444ff;
--accent: #1c1327ff;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
    background: var(--background-gray, #ccccdd);
    font-family: sans-serif;
}
  
/* NAVBAR */  
#navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--navbar-gray, gray);
    color: var(--background-gray, #DDD);
    font-family: sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    width: 100%;
    padding: 5px 10px;
    margin: 0px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}
  
nav a {
    display: space-between;
    color: var(--background-gray, #DDD);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0 1rem;
    text-transform: uppercase;
    
}

nav a:hover {
    border-top: solid var(--wysa-blue, blue) 5px;
    border-bottom: solid var(--wysa-blue, blue) 5px;
}

header h1 {
    display: block;
    margin: 0px auto;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background: var(--wysa-blue, blue);
    color: white;
    width: 100%;
    font-family: sans-serif;
    font-size: 3em;
    font-weight: 300;
    text-transform: uppercase;
}

header img {
    width: 100%;
    border: solid var(--wysa-blue, blue) 4px;
}

main {
    margin: 1rem auto;
    padding: 10px;
}

main hr {
    color: var(--accent, purple);
    width: 60vw;
    margin: auto;
}
/* Styles for content and footer */
.announce {
    color: red;
    font-size: 2em;
    text-align: center;
    padding: 1em;
    margin: 2em auto;
    border: solid red 2px;
}

main h1 {
    color: var(--wysa-blue, blue);
    text-align: center;
    margin: 0 auto .5rem;
    border-bottom: solid var(--wysa-blue, blue) 2px;
    max-width: 30rem;
}

main h2 {
    color: var(--wysa-blue, blue);
    text-align: center;
    margin: .5rem auto 1rem;
    border-bottom: solid var(--gray-text, gray) 1px;
    max-width: 20rem;
    padding-top: 1rem;
}

main h3, main p {
    text-align: center;
    margin: 1em auto;
}

main h3 {
    text-decoration: underline;
    padding: 1rem 0 .5rem;
}


main p {
    width: 70vw;
    max-width: 50rem;
    line-height: 1.5em;
}

ul, li {
    margin: .3em auto;
    text-align: center;
}


footer {
  background: black;
  color: white;
  padding: 0 1em;
  margin-top: 3rem;
  text-align: center;
  font-family: monospace;
  }

/* Styles for Board of Directors */

dl {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: column-wrap;
}

di {
    text-align: center;
    color: var(--gray-text, grey);
    flex: 1 1 auto;
    margin: 1rem auto 0rem;
    font-size: 1.3rem;
}

dd {
    margin: .5rem auto 1rem;
    font-size: 1.5rem;
}
